<div class="page-header">
  <div class="pull-right">
    <% if @keg.active? %>
    <%= link_to 'Untap Keg', [:admin, @keg, :tap], method: :delete, class: 'btn btn-danger' %>
    <% else %>
    <%= link_to 'Tap Keg', [:admin, @keg, :tap], class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Edit', [:edit, :admin, @keg], class: 'btn btn-default' %>
  </div>
  <h1><%= link_to "Admin Kegs", [:admin, :kegs] %> > <%= @keg.display_name %></h1>
</div>

<h3>Stats</h3>
<table class="table-striped" id="stats">
  <tr>
    <td>Poured</td>
    <td class="poured"><%= @keg.poured.round %> oz</td>
  </tr>
  <tr>
    <td>Remaining</td>
    <td class="remaining"><%= @keg.remaining.round%> oz</td>
  </tr>
  <tr>
    <td>Pours</td>
    <td class="pours"><%= @keg.completed_pours.size %></td>
  </tr>
  <tr>
    <td>Average pour volume</td>
    <td class="average-pour-volume"><%= "%0.1f" % @keg.completed_pours.average(:volume).to_f %> oz</td>
  </tr>
  <% if @keg.completed_pours.any? && @keg.active? %>
  <tr>
    <td>Projected empty date</td>
    <td class="projected-empty-date"><%= @keg.projected_empty.strftime("%a, %b %d") %></td>
  </tr>
  <tr>
    <td>Days until empty</td>
    <td class="days-until-empty"><%= (@keg.projected_empty - Time.current).to_i / 1.day %></td>
  </tr>
  <% end %>
  <% if @keg.started_at %>
  <tr>
    <td>Started at</td>
    <td><%= l(@keg.started_at, format: :norm) %></td>
  </tr>
  <% end %>
  <% if @keg.finished_at %>
  <tr>
    <td>Finished at</td>
    <td><%= l(@keg.finished_at, format: :norm) %></td>
  </tr>
  <% end %>
  <% if @keg.started_at %>
  <tr>
    <td>Days on tap</td>
    <td><%= @keg.days_on_tap %></td>
  </tr>
  <% end %>
</table>

<h3>Recent Pours</h3>
<%= render 'admin/pours/table', pours: @keg.pours.for_listing.limit(15) %>

<%= link_to 'More', admin_keg_pours_path(@keg, page: 1), class: 'btn' if @keg.pours.for_listing.count > 15 %>
