<div class="row-fluid">
  <div class="span9">
    <% @beer_taps.each do |tap| %>
      <div class="hero-unit">
        <h2><%= tap.name %>: <%= tap.active_keg.try(:name) || 'Offline' %></h2>
        <% if keg = tap.active_keg %>
          <div class="row">
            <div class="span3 well">
              <h4><%= '%0.1f' % keg.poured %> oz</h4>
              <small>Poured</small>
            </div>
            <div class="span3 well">
              <h4><%= keg.remaining.round %> oz</h4>
              <small>Remaining</small>
            </div>
            <% if tap.temperature_sensor && (reading = tap.temperature_sensor.latest_reading) %>
            <div class="span3 well">
              <h4><%= '%0.1f' % reading.temp_f %>&deg;F</h4>
              Temperature
            </div>
            <% end %>
            <%= link_to '#', class: 'span3 well alert-info' do %>
              <h2>Beer Me!</h2>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="span3">
    <div class="well">
      Someone did something
    </div>
    <div class="well">
      Someone did something
    </div>
    <div class="well">
      Someone did something
    </div>
    <div class="well">
      Someone did something
    </div>
  </div>
  <div class="span1"></div>
</div>