<div class="row-fluid">
  <div class="span9">
    <% @beer_taps.each do |tap| %>
      <div class="hero-unit">
        <h2><%= homepage_tap_header(tap) %></h2>
        <% if keg = tap.active_keg %>
          <div class="row-fluid">
            <div class="span3 well">
              <h4><%= keg.poured.round %> oz</h4>
              <small>Poured</small>
            </div>
            <div class="span3 well">
              <h4><%= keg.remaining.round %> oz</h4>
              <small>Remaining</small>
            </div>
            <% if tap.temperature_sensor && (reading = tap.temperature_sensor.latest_reading) %>
            <div class="span3 well">
              <h4><%= '%0.1f' % reading.temp_f %>&deg;F</h4>
              <small>Temperature</small>
            </div>
            <% end %>
            <%= link_to new_pour_path(beer_tap_id: tap.id), class: 'span3 well alert-info' do %>
              <h2>Beer Me!</h2>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="span3">
    <% @pours.each do |pour| %>
    <div class="well">
      <%= pour.user.name %> poured a <%= '%0.1f' % pour.volume %>oz <%= pour.keg.name %><br>
      <small><%= pour.started_at.strftime('%a, %b %e %Y %l:%M %p') %></small>
      <%= content_tag :small, link_to('Claim pour', [:edit, pour]) if pour.user_id == 0 %>
    </div>
    <% end %>
  </div>
  <div class="span1"></div>
</div>