<div class="row">
  <div class="column two-thirds taps">
    <% @beer_taps.each do |tap| %>
      <div class="home-tap">
        <%= content_tag(:h4, tap.name) %>
        <% if keg = tap.active_keg %>
        <div class="row">
          <div class="column half beer-info">
            <%= content_tag(:h2, link_to(keg.name, keg)) %>
            <% if tap.temperature_sensor && (reading = tap.temperature_sensor.latest_reading) %>
            <div><%= '%0.1f' % reading.temp_f %>&deg;F</div>
            <% end %>
          </div>
          <div class="column half beer-extra">
            <div class="column half beer-glass">
              <%= content_tag :div, "#{keg.poured.round} oz", class: 'poured', style: "height: #{keg.poured_percent.round}%" %>
              <%= content_tag :div, "#{keg.remaining.round} oz", class: 'remaining' %>
            </div>
            <div class="column half beer-me">
              <%= link_to content_tag(:h2, "Beer Me!"), new_pour_path(beer_tap_id: tap.id), class: 'beer-me' %>
            </div>
          </div>
        </div>
        <% else %>
        <%= content_tag(:h2, "Offline") %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="column one-third activity-feed">
    <% @pours.each do |pour| %>
    <div class="entry">
      <%= pour.user.name %> poured a <%= '%0.1f' % pour.volume %>oz <%= pour.keg.name %><br>
      <small><%= pour.started_at.strftime('%a, %b %e %Y %l:%M %p') %></small>
      <%= content_tag :small, link_to('Claim pour', [:edit, pour]) if pour.user_id == 0 %>
    </div>
    <% end %>
    <div class="entry">
      <%= link_to "More", pours_path %>
    </div>
  </div>
</div>