<div class="page-header">
  <div class="pull-right"><%= link_to 'Return', root_path, :class => 'btn btn-default' %></div>
  <h1>Admin</h1>
</div>

<ul>
  <li><%= link_to "Kegs", admin_kegs_path %></li>
  <li><%= link_to "Taps", admin_beer_taps_path %></li>
  <li><%= link_to "Temperature Sensors", admin_temperature_sensors_path %></li>
  <li><%= link_to "Users", admin_users_path %></li>
</ul>
