<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New', new_user_path, :class => 'btn btn-default' %>
  </div>
  <h1>Users</h1>
</div>

<table class="table-striped full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>RFID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.gravatar_url(size: 50), alt: "#{user.name} Avatar", class: 'mini-avatar' %> <%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.rfid %></td>
      <td>
        <%= link_to 'Edit', [:edit, user] %>
        <%= link_to 'Delete', user_path(user), class: 'warning pull-right', method: 'delete', data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
