<div class="page-header">
  <h1>New User</h1>
</div>

<%= errors_for(@user) %>

<%= form_for [@user] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <div class="form-actions">
    <%= f.submit 'Create', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, :class => 'btn btn-default' %>
  </div>
<% end %>
