<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Return', :back, :class => 'btn btn-default' %>
  </div>
  <h1>Who are you?</h1>
</div>

<div class="user-list">
  <div class="row">
    <%= link_to 'New User', new_user_path %>
  </div>
  <% @users.each do |user| %>
  <div class="row">
    <%= link_to pour_path(@pour, pour: {user_id: user.id}), method: 'put' do %>
      <%= image_tag user.gravatar_url(size: 100), alt: "#{user.name} Avatar", class: 'std-avatar' %>
      <div class="user-info">
        <div class="user-name"><%= user.name %></div>
        <div class="last-pour"><small><%= last_pour(user) %></small></div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
