<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Return', root_path, :class => 'btn btn-default' %>
  </div>
  <h1>Who are you?</h1>
</div>

<div class="user-list">
  <div class="row">
    <%= link_to 'New User', new_user_path %>
  </div>
  <div class="row">
    <%= link_to pours_path(beer_tap_id: params[:beer_tap_id], user_id: 0), method: 'post' do %>
      <%= image_tag User.guest.gravatar_url(size: 50) %>
      <div class="user-info">
        <div class="user-name">Guest</div>
      </div>
    <% end %>
  </div>
  <% @users.each do |user| %>
  <div class="row">
    <%= link_to pours_path(beer_tap_id: params[:beer_tap_id], user_id: user.id), method: 'post' do %>
      <%= image_tag user.gravatar_url(size: 50) %>
      <div class="user-info">
        <div class="user-name"><%= user.name %></div>
        <div class="last-pour"><small><%= last_pour(user) %></small></div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
