<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Return', root_path, :class => 'btn' %>
  </div>
  <h1><%= @keg.name %></h1>
</div>

<div class="row-fluid">
  <section class="span6">
    <div class="page-header"><h3>Leaderboard</h3></div>
    <table class="table table-striped data-table" id="leaderboard">
      <thead>
        <tr>
          <th>Name</th>
          <th class="center">Total (oz)</th>
          <th class="center">Average (oz)</th>
          <th class="center">Max Pour (oz)</th>
          <th class="center">Pours</th>
        </tr>
      </thead>
      <tbody>
        <% @keg.top_consumers.each do |leader| %>
        <tr>
          <td><%= leader.name %></td>
          <td class="center"><%= "%0.1f" % leader.total %></td>
          <td class="center"><%= "%0.1f" % leader.average %></td>
          <td class="center"><%= "%0.1f" % leader.max %></td>
          <td class="center"><%= leader.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <section class="span6">
    <div class="page-header"><h3>Stats</h3></div>
    <table class="table table-striped">
      <tr>
        <td>Poured</td>
        <td><%= @keg.poured.round %> oz</td>
      </tr>
      <tr>
        <td>Remaining</td>
        <td><%= @keg.remaining.round%> oz</td>
      </tr>
      <tr>
        <td>Pours</td>
        <td><%= @keg.completed_pours.size %></td>
      </tr>
      <tr>
        <td>Average pour volume</td>
        <td><%= "%0.1f" % @keg.completed_pours.average(:volume) %> oz</td>
      </tr>
      <tr>
        <td>Projected empty date</td>
        <td><%= @keg.projected_empty.strftime("%a, %b %d") %></td>
      </tr>
    </table>
  </section>
</div>

<section>
  <div class="page-header"><h3>Kegerator Temperatures</h3></div>
  <div id="temp-chart">
    <div class="loading" style="display: none;">Loading</div>
  </div>
</section>

<script type="text/javascript" charset="utf-8">
  new TempChart("/temperature_sensors", <%= TemperatureSensor.select(:id).limit(2).map(&:id).map(&:to_s).join(', ') %>).draw();
</script>