<div class="page-header">
  <div class="pull-right"><%= link_to 'Return', root_path, :class => 'btn btn-default' %></div>
  <h1><%= @keg.name %></h1>
</div>

<div class="row keg">
  <div class="column one-third flow-opposite">
    <h3>Stats</h3>
    <table class="table-striped" id="stats">
      <tr>
        <td>Poured</td>
        <td class="poured"><%= @keg.poured.round %> oz</td>
      </tr>
      <tr>
        <td>Remaining</td>
        <td class="remaining"><%= @keg.remaining.round%> oz</td>
      </tr>
      <tr>
        <td>Pours</td>
        <td class="pours"><%= @keg.completed_pours.size %></td>
      </tr>
      <tr>
        <td>Average pour volume</td>
        <td class="average-pour-volume"><%= "%0.1f" % @keg.completed_pours.average(:volume).to_f %> oz</td>
      </tr>
      <% if @keg.completed_pours.any? %>
      <tr>
        <td>Projected empty date</td>
        <td class="projected-empty-date"><%= @keg.projected_empty.strftime("%a, %b %d") %></td>
      </tr>
      <tr>
        <td>Days until empty</td>
        <td class="days-until-empty"><%= (@keg.projected_empty - Time.current).to_i / 1.day %></td>
      </tr>
      <% end %>
      <% if @keg.started_at %>
      <tr>
        <td>Days on tap</td>
        <td><%= @keg.days_on_tap %></td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="column two-thirds">
    <h3>Leaderboard</h3>
    <table class="table table-striped data-table" id="leaderboard">
      <thead>
        <tr>
          <th>Name</th>
          <th class="center">Total (oz)</th>
          <th class="center">Average (oz)</th>
          <th class="center">Max Pour (oz)</th>
          <th class="center">Pours</th>
        </tr>
      </thead>
      <tbody>
        <% @keg.top_consumers.each do |leader| %>
        <tr>
          <td class="name"><%= leader.name %></td>
          <td class="total center"><%= "%0.1f" % leader.total %></td>
          <td class="average center"><%= "%0.1f" % leader.average %></td>
          <td class="max center"><%= "%0.1f" % leader.max %></td>
          <td class="pours center"><%= leader.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <h3>Beer Temperature</h3>
  <%= render "shared/temp_chart", sensor_id: @keg.beer_tap.try(:temperature_sensor_id) %>
</div>
