<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Return', root_path, :class => 'btn' %>
  </div>
  <h1><%= @keg.name %></h1>
</div>

<div class="row">
  <section class="column one-half">
    <div class="page-header"><h3>Leaderboard</h3></div>
    <table class="table table-striped data-table" id="leaderboard">
      <thead>
        <tr>
          <th>Name</th>
          <th class="center">Total (oz)</th>
          <th class="center">Average (oz)</th>
          <th class="center">Max Pour (oz)</th>
          <th class="center">Pours</th>
        </tr>
      </thead>
      <tbody>
        <% @keg.top_consumers.each do |leader| %>
        <tr>
          <td class="name"><%= leader.name %></td>
          <td class="total center"><%= "%0.1f" % leader.total %></td>
          <td class="average center"><%= "%0.1f" % leader.average %></td>
          <td class="max center"><%= "%0.1f" % leader.max %></td>
          <td class="pours center"><%= leader.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <section class="column one-half">
    <div class="page-header"><h3>Stats</h3></div>
    <table class="table table-striped" id="stats">
      <tr>
        <td>Poured</td>
        <td class="poured"><%= @keg.poured.round %> oz</td>
      </tr>
      <tr>
        <td>Remaining</td>
        <td class="remaining"><%= @keg.remaining.round%> oz</td>
      </tr>
      <tr>
        <td>Pours</td>
        <td class="pours"><%= @keg.completed_pours.size %></td>
      </tr>
      <tr>
        <td>Average pour volume</td>
        <td class="average-pour-volume"><%= "%0.1f" % @keg.completed_pours.average(:volume).to_f %> oz</td>
      </tr>
      <% if @keg.completed_pours.any? %>
      <tr>
        <td>Projected empty date</td>
        <td class="projected-empty-date"><%= @keg.projected_empty.strftime("%a, %b %d") %></td>
      </tr>
      <% end %>
    </table>
  </section>
</div>

<section>
  <div class="page-header"><h3>Kegerator Temperatures</h3></div>
  <div id="temp-chart" class="temp-chart" data-sensor-url="/temperature_sensors" data-sensor-ids="<%= TemperatureSensor.select(:id).limit(2).map(&:id).map(&:to_s).join(', ') %>">
    <div class="loading" style="display: none;">Loading</div>
  </div>
</section>
