<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Return', root_path, :class => 'btn' %>
  </div>
  <h1><%= @keg.name %></h1>
</div>

<section>
  <div class="page-header"><h3>Leaderboard</h3></div>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Volume (fl oz)</th>
    </tr>
    <% @keg.top_consumers.each do |leader| %>
    <tr>
      <td><%= leader.name %></td>
      <td><%= leader.total %></td>
    </tr>
    <% end %>
  </table>
</section>

<section>
  <div class="page-header"><h3>Kegerator Temperatures</h3></div>
  <div id="temp-chart">
    <div class="loading" style="display: none;">Loading</div>
  </div>
</section>

<script type="text/javascript" charset="utf-8">
  new TempChart("<%= temperature_sensors_path %>", <%= TemperatureSensor.select(:id).limit(2).map(&:id).map(&:to_s).join(', ') %>).draw();
</script>