<!doctype html>
<html lang="en">
  <title><%= Setting.kegerator_name %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <div class="navbar">
    <div class="container">
      <ul class="nav row">
        <li class="logo"><%= link_to Setting.kegerator_name, root_path %></li>
        <li><%= link_to 'Kegs', kegs_path %></li>
        <li><%= link_to 'Admin', admin_path %></li>
      </ul>
    </div>
  </div>

  <div class="container" id="main">
    <%= yield %>
  </div>

  <footer>
    <span class="stateface stateface-replace stateface-mi">Michigan</span>
    <span>Lovingly crafted in Michigan.<br>&copy; <%= Time.now.year %> <%= link_to '[i] Collecitve Idea', 'http://collectiveidea.com/' %>.</span>
  </footer>

  <% if Setting.faye_url.present? %>
    <%= javascript_include_tag "#{Setting.faye_url(request.host)}/client.js" %>
    <script type="text/javascript">
      var fayeClient = new Faye.Client('<%= Setting.faye_url(request.host) %>');
    </script>
  <% end %>
  <%= javascript_include_tag "application" %>
</html>
